* {
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #f0f2f5;
    margin: none;
}

.lool{
    display: flex;
    justify-content: space-evenly;

    
}


.ima{
    margin-top: 200px;
    text-align: start;
    font-size: 30px;
}

h1{
    color: blue;
}

.formu{
    margin-top: 150px;
    width: 383px;
    padding: 17px;
    background-color: #ffffff;
    border-radius: 2%;
    box-shadow: 0 8px 20px rgba(0, 0, 0,0.15);

    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

::placeholder{
    font-size: 15px;
    font-weight: 545;
    color: rgb(173, 173, 173);
}

.formu input{
    padding: 20px;
    border: 1px solid #ebebeb;
    border-radius: 6px;
    font-size: 20px;
}


.formu button{
    font-size: 18px;
    padding: 15px;
    border:none;
    border-radius: 5px; 
    cursor: pointer;
    font-weight: bold;
}

.botoniniciarsesion{
    background-color: rgb(92, 89, 255);
    color: white;
 

}


.botoncrearcuenta{
    width: 200px;
    height: 50px;
    margin-left: 95px;

    color: white;
    background-color: rgb(0, 199, 0);
    
}

.botoncrearcuenta a{
    text-decoration: none;
    color: white;
}

.olv{
    text-decoration: none;
    color: rgb(92, 89, 255);
}

a{
    text-decoration: none;
}



