* {
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #f0f2f5;
    margin: none;
}

.lool{
    display: flex;
    justify-content:center;
    gap: 100px;

    
}


.ima{
    margin-top: 198px;
    text-align: start;
    align-items:start;
    font-size: 30px;
}

.ima p{
    font-size: 27px;
}

.ima img{
    height: auto;
    width: 265px;
}



.formu{
    margin-top: 124px;

    height: 315px;
    width: 360px;

    padding: 17px;
    background-color: #ffffff;
    border-radius: 2.3%;
    box-shadow: 0 4px 20px rgba(0, 0, 0,0.15);

    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

::placeholder{
    font-size: 17px;
    font-weight: 545;
    color: rgb(173, 173, 173);
}

.formu input{
    height: 50px;
    border: 1px solid #ebebeb;
    border-radius: 6px;
    font-size: 17px;
}


.formu button{
    height: 48px;
    gap: 300px;

    border:none;
    border-radius: 6px; 
    cursor: pointer;
    font-weight: bold;
}

.botoniniciarsesion{
    background-color: rgb(0, 102, 255);
    color: white;
    font-size: 20px;
    align-items: center;
    justify-content: center;

}


.botoncrearcuenta{
    text-decoration: none;
    color: white;
}

.botoncrearcuenta button{
    width: 190px;
    font-size: 17px;

    color: white;
    background-color: rgba(2, 184, 2, 0.884);
}

.olv{
    text-decoration: none;
    color: rgb(92, 89, 255);
    font-size: 14px;
}

a{
    text-decoration: none;
}

hr{
    width: 360px;
    color: lightgray;
    opacity: 25%;
}


